nav {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background: #fff;
  color: #333;
  & a,
  & div a {
    text-decoration: none;
    color: inherit;
    font-weight: 800;
  }
  .h1 {
    font-size: 4vmin;
    padding: 0.5rem;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      background: #333;
      color: #fff;
    }
  }
  div {
    display: flex;
    gap: 1.5vw;
    margin-right: 1rem;
    .li {
      list-style-type: none;
      font-weight: bold;
      padding: 0.5rem;
      border-radius: 0.5rem;
      &:hover {
        cursor: pointer;
      }
      &:hover,
      &.active,
      &:focus {
        background: #333;
        color: #fff;
      }
    }
  }
}
// 530px
