.section-container {
  h1 {
    border-bottom: 1px solid #fff;
    padding: 1rem;
  }
  section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
  }
}
